<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends 'base.html' %}
    <title>{% block title %}i2i Blog{% endblock %}</title>
  </head>
  <body>
    {% block content %}

    <h1>Post</h1>

    <ul>
      {% for post in object_list %}
      <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
        {{ post.title }} <br />
        {{ post.author.first_name }} {{ post.author.last_name }} <br />
        - <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small
        ><br />
        {{ post.author.email }}<br /><br />
        {{ post.body }}<br /><br />
      </li>
      {% endfor%}
    </ul>

    {% endblock %}
  </body>
</html>
